@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body{
    font-family: 'Fira Sans', sans-serif;
    background-color: #141414;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff
}
body .page{
    margin: 20px 80px;
}
/* Barre de navigation */
nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #141414a9;
    padding: 10px 0px;
    opacity: 1;
}
nav .onglets{
    display: flex;
    flex-wrap:wrap;
    margin-top: 5px;
    opacity: 1;
}
nav .onglets a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 20px;
}
nav .buttons button{
    padding: 13px 20px;
    margin-right: 20px;
    color: #fff;
    background-color: darkslategray;
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    opacity: 1;
}
nav a:hover{
    text-decoration: underline;
}
nav .buttons button:hover{
    padding: 13px 20px;
    margin-right: 20px;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    opacity: 1;
}
 /* Fin barre de navigation */

/* Header */
Header{
    margin-top: 40px;
    background:url('https://images6.alphacoders.com/456/thumb-1920-456503.png');
    background-repeat: no-repeat;
    background-position: center;
}
Header h1{
    text-align: center;
    font-size: 60px;
    padding: 300px;
}
/* Fin header */

/* Footer */
section h1{
    margin-left: 70px;
}
section p{
   text-decoration: none;
   color: #fff;
   margin-left: 100px;
   font-size: 20px;
   margin-right: 300px;
}
section p .VSC{
    text-decoration: none;
    color: darkslategray;
 }
 .FEX {
    height:500px
   }
   img {
    width: auto; 
    max-height: 100%; 
   }
   .dtype{
    border: solid black 3px;
    background-color: black;
    padding: 8px;
    }
.OCH{
    height: 75px;
}

 /* Fin footer */